<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrays Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Arrays Prompts</h1>
    <ul>
        <li><a href="/twoNumberSum">Two Number Sum</a></li>
        <li><a href="/validateSubSequence">Validate subSequence</a></li>
        <li><a href="/">Home</a></li>
    </ul>
</body>
</html>