<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlgoExpert Problem Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>AlgoExpert Landing page</h1>
    <div class="link-container">
        <a href="/arrays">Arrays</a>
        <a href="/binary_search_trees">Binary Search Trees</a>
    </div>
</body>
</html>
